.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.auth-card {
  width: 380px;
  background: rgba(10, 26, 31, 0.95);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #00e5ff;
  box-shadow: 0 0 25px rgba(0, 229, 255, 0.25);
  animation: fadeIn 0.8s ease;
}

/* TITLE */
.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00e5ff;
}

/* INPUT GROUP */
.auth-card input {
  margin-bottom: 15px;
}

/* FOOT TEXT */
.auth-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
